.availability_month_days {
    display: flex;
    flex-wrap: wrap;

    max-width: 450px;
    margin: 0 auto;
}

.availability_month_days__item {
    width: calc(100% / 7 - 4px *2);
    padding: 2px 4px;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.availability_month_days__item input {
    display: none;
}

.availability_month_days__item label {
    width: calc(100% - 4px*2);
    height: calc(48px - 4px*2);
    padding: 0;
    text-align: center;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid var(--color-primary);
    border-radius: 4px;

    transition: all ease 0.5s;
}

.availability_month_days__item[data-is-current-period='true'] label:hover {
    padding: 1px;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);
    color: var(--color-light);

    box-shadow: 0 0 8px var(--color-dark);
    cursor: pointer;
}

.availability_month_days__item[data-is-current-period='false'] label {
    cursor: not-allowed;
    opacity: 0.1;
}

.availability_month_days__item input:checked+label {
    background-color: var(--color-warning);
    color: var(--color-light);
    border-color: var(--color-warning);
}

.availability_month_days__item[data-is-current-period='true'][data-day-index='0'] label,
.availability_month_days__item[data-is-current-period='true'][data-day-index='6'] label {
    opacity: 0.4;
}