.body {
    display: flex;
    height: 100%;
}

.main {
    height: calc(100% - 48px - 8px - 8px);
    padding: calc(48px + 8px) 8px 8px 8px;
}

.burger_menu {
    z-index: 3;
    max-width: calc(300px);
    width: min(30vw, 300px);
    height: 100%;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, .4);
    overflow-y: auto;
    background-color: var(--color-dark);
    color: var(--color-light);
    transition: width ease 0.5s;
}

.burger_menu__burger_open_button {
    z-index: 2;
    position: absolute;
    top: 8px;
    left: 8px;

    height: 40px;
    max-width: calc(300px - 8px*2);
    width: min(30vw, 300px);
}

.burger_menu--close {
    width: 0;
    overflow: hidden;
}

.burger_menu--close * {
    overflow: hidden;
}

.burger_menu__burger_button {
    width: 100%;
    border: none;
    background-color: var(--color-element);
    color: white;
    padding: 15px;
}

.burger_menu__burger_button:hover {
    background-color: var(--color-element-hover);
}

.burger_menu__text {
    text-align: center;
    padding: 15px;
}

.burger_menu select {
    width: calc(100% - 8px*2);
    padding: 8px;
    margin: 8px;
}

.burger_menu__nav>ul {
    margin: 0;
    padding: 0;
}

.burger_menu__nav>ul>li {
    list-style-type: none;
}

.burger_menu__nav>ul>li>button {
    width: 100%;
    border: none;
    background-color: transparent;
    color: white;
    padding: 15px;
    text-align: left;
}

.burger_menu__nav>ul>li>button:hover {
    background-color: var(--color-element);
}