html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;

    font-family: Roboto;
}

:root {
    --color-primary: #0d6efd;
    --color-primary-hover: #0b5ed7;
    --color-secondary: #6c757d;
    --color-secondary-hover: #5c636a;
    --color-success: #198754;
    --color-success-hover: #157347;
    --color-danger: #dc3545;
    --color-danger-hover: #bb2d3b;
    --color-warning: #ffc107;
    --color-warning-hover: #ffca2c;
    --color-info: #0dcaf0;
    --color-info-hover: #31d2f2;
    --color-info-alert-bg: #cff4fc;
    --color-info-alert-border: #b6effb;
    --color-info-alert-color: #055160;
    --color-success-alert-bg: #badbcc;
    --color-success-alert-border: #d1e7dd;
    --color-success-alert-color: #0f5132;
    --color-light: #f8f9fa;
    --color-light-hover: #f9fafb;
    --color-dark: #212529;
    --color-dark-hover: #1c1f23;
    --color-link: #0d6efd;
    --color-link-hover: #0a58ca;
}

a {
    color: var(--color-link);
}

a:hover {
    color: var(--color-link-hover);
}

.alert {
    border-radius: 8px;
    padding: 1rem;
    margin: 8px 0;
    border: 1px solid transparent;
}

.alert>p {
    margin: 0;
}

.alert.alert-info {
    background-color: var(--color-info-alert-bg);
    border-color: var(--color-info-alert-border);
    color: var(--color-info-alert-color);
}

.alert.alert-success {
    background-color: var(--color-success-alert-bg);
    border-color: var(--color-success-alert-border);
    color: var(--color-success-alert-color);
}

.bg-warning {
    background-color: var(--color-warning);
    color: var(--color-dark);
}

.bg-info {
    background-color: var(--color-info);
    color: var(--color-light);
}

.bg-dark {
    background-color: var(--color-dark);
    color: var(--color-light);
}

.btn {
    border: 1px solid transparent;
    background-color: transparent;
    padding: .375rem .75rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    text-decoration: none;
    cursor: pointer;
}

.btn[disabled] {
    pointer-events: none;
    cursor: not-allowed;
    opacity: .65;
}

.btn.btn-primary {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: var(--color-light);
}

.btn.btn-primary:hover {
    background-color: var(--color-primary-hover);
}

.btn.btn-success {
    background-color: var(--color-success);
    border-color: var(--color-success);
    color: var(--color-light);
}

.btn.btn-success:hover {
    background-color: var(--color-success-hover);
}

.btn.btn-danger {
    background-color: var(--color-danger);
    border-color: var(--color-danger);
    color: var(--color-light);
}

.btn.btn-danger:hover {
    background-color: var(--color-danger-hover);
}

.btn.btn-warning {
    background-color: var(--color-warning);
    border-color: var(--color-warning);
    color: var(--color-dark);
}

.btn.btn-warning:hover {
    background-color: var(--color-warning-hover);
}

.btn.btn-secondary {
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
    color: var(--color-light);
}

.btn.btn-secondary:hover {
    background-color: var(--color-secondary-hover);
}

.d-none {
    display: none;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin: 8px 0;
}

.table thead.bg-dark th {
    border-color: var(--color-dark);
}

.table.bordered th,
.table.bordered td {
    border: 1px solid #dee2e6;
    padding: 8px;
}